/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
  
body {
    font-family: sans-serif;
}


/* utilities */


  
/* content */  
h2 {
    padding-top: 20px;
    color: #00E0E0;
    font-size: 3rem;
    text-align: center;
}

#container {
    width: 700px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
  }
  
.square {
    width: 10%;
    padding: 15px 0px;
    color: white;
    margin: auto;
    font-size: 12px;
    background-color: #74d2e7;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

.square > * {
    margin: 10px;
}

.FizzBuzz{
    background-color: 	#FFD1DC;
}

.Fizz{
    background-color: #D8BFD8;
}

.Buzz{
    background-color: #00E0E0;
}


