/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
  
body {
    font-family: sans-serif;
}


/* utilities */


  
/* content */  
h2 {
    padding-top: 20px;
    color: #A9E5EB;
    font-size: 3rem;
    text-align: center;
}

#container {
    width: 700px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
  }
  
.square {
    width: 10%;
    padding: 15px;
    color: white;
    font-size: 12px;
    background-color: #3CA2D9;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

.FizzBuzz{
    background-color: #DB6ED0
}

.Fizz{
    background-color: #6D9BF2;
}

.Buzz{
    background-color: #F26DAB;
}


